<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>[[${master.name}]] &ndash; Ресепшен</title>
</head>
<body>
<h1 data-th-text="${master.name}"></h1>
<a data-th-href="@{/directories/masters/{masterId}(masterId=${master.id})}">&larr; к мастеру</a>
<h2>Удалить мастера:<span data-th-text="${master.name}">?</span></h2>
<form method="post" data-th-action="@{/directories/masters/{masterId}/delete(masterId=${master.id})}">
  <button type="submit">Удалить</button>
</form>
</body>
</html>