<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактирование помещения &laquo;[[${room.number}]]&raquo; &ndash; Ресепшен</title>
</head>
<body>
<a data-th-href="@{/directories/rooms/{roomId}(roomId=${room.id})}">&larr; к помещению</a>
<h1>Редактирование помещения &laquo;[[${room.number}]]&raquo;</h1>
<div data-th-if="${errors}">
  <h2>Ошибки</h2>
  <ul>
    <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
  </ul>
</div>
<form method="post" data-th-action="@{/directories/rooms/{roomId}/edit(roomId=${room.id})}">
  <label>
    Помещение:<br>
    <input type="text" name="number" data-th-value="${new_room != null ? new_room.number : room.number}">
  </label><br>
  <label>
    Описание:<br>
    <textarea name="note" data-th-text="${new_room != null ? new_room.note : room.note}"></textarea>
  </label><br>
  <button type="submit">Изменить</button>
</form>
</body>
</html>